<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: : 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <br />
  <p>Uma entrega vinculada à você foi cancelada. Informações abaixo:</p>
  <p><strong>Produto:</strong> {{product}}</p>
  <p><strong>Local da entrega:</strong> {{recipientName}} - {{recipientAddress}}</p>
  <br />
  <p>
    Obrigado!<br />
    <strong>FastFeet</strong>
  </p>
</div>
